@{
    ViewBag.Title = "Software de Gestión de Cartera";
}

<div class="jumbotron jumbotron-fluid bg-secondary text-white mt-4">
    <div class="container">
        <h1 class="display-4">Bienvenido a MartinaPAS</h1>
        <p class="lead">Software de gestión de cartera para tu broker de seguros.</p>
        <p>Este programa gestiona tu acceso a los principales módulos que utilizas para desarrollar tu actividad</p>
        <a href="#" class="btn btn-secondary btn-lg">Más info...</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-secondary mb-4">
                <div class="card-header">Caja</div>
                <div class="card-body">
                    <h2 class="card-title">Caja</h2>
                    <p class="card-text">Registra y administra movimientos financieros.</p>
                    <a href="#" class="btn btn-info">Acceder &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-secondary mb-4">
                <div class="card-header">Pólizas</div>
                <div class="card-body">
                    <h2 class="card-title">Pólizas</h2>
                    <p class="card-text">Gestiona las pólizas de seguros.</p>
                    <a href="#" class="btn btn-info">Acceder &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-secondary mb-4">
                <div class="card-header">Clientes</div>
                <div class="card-body">
                    <h2 class="card-title">Clientes</h2>
                    <p class="card-text">Administra la información de los clientes.</p>
                    <a href="#" class="btn btn-info">Acceder &raquo;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-secondary mb-4">
                <div class="card-header">Siniestros</div>
                <div class="card-body">
                    <h2 class="card-title">Siniestros</h2>
                    <p class="card-text">Registra y realiza seguimiento de siniestros.</p>
                    <a href="#" class="btn btn-info">Acceder &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-secondary mb-4">
                <div class="card-header">Recibos</div>
                <div class="card-body">
                    <h2 class="card-title">Recibos</h2>
                    <p class="card-text">Controla los recibos y pagos.</p>
                    <a href="#" class="btn btn-info">Acceder &raquo;</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
